<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список дел</title>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div id="todolist-form">
        <form>
            <h2>Добавление дела</h2>
            <label>Название дела:</label>
            <input type="text" name="title" value="">
            <br><br>
            <label>Описание:</label>
            <input type="text" name="description" value="">
            <hr>
            <button id="save-task">Сохранить</button>
        </form>
    </div>
    <h1>Список дел (<span th:text="${tasksCount}">0</span>)</h1>
    <button id="show-add-task-form">Добавить книгу</button>
    <br><br>
    <div id="task-list">
        <div th:each="task : ${tasks}">
            <a class="task-link" th:attr="data-id=${task.id}" th:text="${task.title}" th:href="@{|/todolist/tasks/${task.id}|}" ></a>
        </div>
    </div>
</body>
</html>