* {
    font-family: JetBrains Mono, Arial, Serif;
}

#task-form {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #88888878;
}

#task-form form {
    background-color: white;
    border: 1px solid #333;
    width: 450px;
    padding: 20px;
}

#task-form h2 {
    margin-top: 0;
}

#task-form label {
    display: block;
}

#task-form button {
    align-items: center;
}

#task-form form > * {
    margin-bottom: 5px;
}